<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beat2Revolution | Home</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="style/base.css" rel="stylesheet">

    <script src="vendor/vue/vue.js"></script>
    <script src="vendor/vue-resource/vue-resource.min.js"></script>
    <script src="vendor/vue-router/vue-router.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- VUE TEMPLATES -->
<!-- track list -->
<template id="tpl-tracklist">

    <table class="table table-hover tracklist">
        <tbody>
            <tr v-for="(track, idx) in tracks">
                <td>
                    <!-- if is favorite -->
                    <div class="toggle-favorites" v-if="isUserLogged && (fvs.indexOf(track.id) >= 0)">
                        <button title="Remove from your Favorites" class="button-fav added" v-on:click="removeFromFavs(track.id)"></button>
                    </div>
                    <!-- if isn't favorite -->
                    <div class="toggle-favorites" v-else-if="isUserLogged &&  (fvs.indexOf(track.id) < 0)">
                        <button title="Save to your Favorites" class="button-fav add" v-on:click="addToFavs(track.id)"></button>
                    </div>
                </td>
                <td>{{ track.track }}</td>
                <td>{{ track.artist }}</td>
                <td>{{ track.album }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <td></td>
                <td>Title</td>
                <td>Artist</td>
                <td>Album</td>
            </tr>
        </thead>
    </table>
</template>

<!-- track details -->
<template id="tpl-track-details">
    <div><p class="track-name">Title: {{ trackdetails.track }}</p>
        <p class="track-artist">Artist: {{ trackdetails.artist }}</p>
        <p class="track-album">Album: {{ trackdetails.album }}</p>
    </div>
</template>

<!-- user favorites -->
<template id="tpl-favorites">
    <h1>les favourites</h1>
</template>

<template id="tpl-login-link">
    <a v-on:click="switchToInput" href="#">Login</a>
</template>

<template id="tpl-login-input">
    <form @submit.prevent>
        <div class="input-group">
            <input v-model="email" type="text" class="form-control input-sm" placeholder="Your email" autofocus>
            <span class="input-group-btn">
                <input class="btn btn-green btn-sm" type="submit" v-on:click="login(email)" value="Login">
            </span>
        </div>
        </form>
</template>

<template id="tpl-toast-alert">
    <div class="toast" v-bind:class="toast.type">{{toast.msg}}</div>
</template>

<template id="tpl-media-player">
    <footer class="navbar-fixed-bottom mediaplayer" id="footer-player">
        <div class="now-playing col-sm-3">
            <div class="media">
            <div class="media-left">
                <a href="#">
                <img class="media-object" v-bind:src="file.musicCover" alt="Music Cover">
                </a>
            </div>
            <div class="media-body music-info">
                <a href="#" class="media-heading music-name">{{file.musicName}}</a>
                <button title="Save to your Favorites" class="button-fav add"></button>
                <div class="music-artists marquee"><span v-on:mouseover="marqueeAnimate">{{file.musicArtist}}</span></div>
            </div>
            </div>
        </div>        
        <div class="controls col-sm-6">
            <div class="player-buttons">
                <button title="Shuffle" class="control-button"><span class="glyphicon glyphicon-random"></span></button>
                <button title="Previous" class="control-button"><span class="glyphicon glyphicon-step-backward"></span></button>
                <button title="Play" class="control-button rounded" v-on:click="play"><span class="glyphicon" v-bind:class="[player.isPlaying ? 'glyphicon-pause' : 'glyphicon-play']"></span></button>
                <button title="Next" class="control-button"><span class="glyphicon glyphicon-step-forward"></span></button>
                <button title="Repeat" class="control-button"><span class="glyphicon glyphicon-retweet"></span></button>
            </div>
            <div class="progress-container">
                <span class="progress-time">{{player.elapsedTime}}</span>
                <div class="progress-bar">
                    <div class="progress-bar-thumb" v-bind:style="{ left: player.elapsedPercent }"></div>
                    <div class="progress-bar-seek" v-bind:style="{ width: player.elapsedPercent }"></div>
                </div>
                <span class="progress-time">{{totalTime}}</span>
            </div>
        </div>
        <div class="side-controls col-sm-2 col-sm-offset-1 hidden-xs">
            <button class="control-button"><span class="glyphicon glyphicon-list"></span></button>
            <button class="control-button"><span class="glyphicon glyphicon-phone"></span></button>
            <button class="control-button"><span class="glyphicon glyphicon-volume-down"></span></button>
            <div class="progress-container">
                <div class="progress-bar">
                    <div class="progress-bar-thumb"></div>
                    <div class="progress-bar-seek"></div>
                </div>
            </div>
        </div>
    </footer>  
</template>


<!-- END VUE TEMPLATES -->
<div id="app" class="container-fluid">
    <transition name="fade">
        <toast-alert v-if="isToastActive" :toast="toast"></toast-alert>
    </transition>        
    <div class="row content">
        <div class="col-sm-2 sidebar" v-bind:class="{collapsed: isSideBarCollapsed}">
            <a href="./" class="logo"></a>
            <button v-on:click="toggleCollapse" class="btn btn-xs visible-xs-inline toggle-collapse">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <div class="collapsable-content">
                <hr/>
                <ul class="nav nav-pills nav-stacked">
                    <router-link tag="li" to="/" role="presentation">
                        <a>Latest</a>
                    </router-link>

                    <router-link v-if="User.isLogged" tag="li" :to="{ name: 'favorites', params: { userId: User.id }}" role="presentation">
                        <a>Favorites</a>
                    </router-link>
                </ul>
                <hr/>
                <div v-if="User.isLogged" class="user-info">
                    <img id="user-avatar" v-bind:src="User.gravatar"/>
                    <span id="user-name">{{User.username}}</span>
                    <span class="separator">•</span>
                    <router-link to="/" class="track-name"><span v-on:click="User.logout">Logout</span></router-link>
                </div>
                <div v-else>
                    <component :is="current"></component>
                </div>
            </div>
        </div>
        <div class="col-sm-10" id="content">
            <router-view ref="curComponent"></router-view>
        </div>
    </div>
    <media-player></media-player>
</div>

    <!-- load app -->
<!--    <script src="vendor/jquery/js/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->
    <script src="js/utils.js"></script>
    <script src="js/app.js"></script>
</body>

</html>