body{
    background-color: #181818;
    height: 100%;
	color: #fff;
	overflow: hidden;
}
a{
	color: #a0a0a0;
	&:hover{
		color: #fff;
	}
}

hr{
	border-top: 1px solid hsla(0,0%,100%,.25)
}

.btn.btn-green {
    background-color: #2ebd59;
    border-color: #2ebd59;
	outline-color: #2ebd59;
}

.btn.btn-red {
    background-color: #ea0c64;
    border-color: #ea0c64;
	outline-color: #ea0c64;
	
}

.button-fav, .button-fav.add {
	position: absolute;
	top: 0px;
	width: 16px;
	height: 16px;
	right: 0;
	background-color: transparent;
    border: none;
    outline: none;	

	&:before, &:after {
		position: absolute;
		content: ' ';
		background-color: #a0a0a0;
	}

	&:hover:before, &:hover:after  {
		background-color: #fff;
	}                

	&:before {
		left: 7.5px;
		top: 0px;
		height: 16px;
		width: 1px;
	}

	&:after {
		left: 0;
		top: 7.5px;
		width: 16px;
		height:1px;
	}   

	&.added{


		&:before {
			transform: rotate(40deg);
			height: 14px;
			left: 9.5px;
		}
		&:after{
			transform: rotate(50deg);
			width: 6px;
			top: 8.5px;			
		}

		&:hover{
			&:before {
				left: 7.5px;
				top: 0px;
				height: 16px;
				width: 1px;
				transform: rotate(45deg);
			}

			&:after {
				left: 0;
				top: 7.5px;
				width: 16px;
				height:1px;
				transform: rotate(45deg);
			}			
		}
	}
}      

.separator{
	padding: 0 8px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.toast{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 102;

	&.error{
		background-color: #ea0c64;
	}

	&.success{
		background-color: #2fbd59;		
	}
}

.media{
	display: flex;
}

.sidebar{
    background-color: #121212;
    height: 100vh;
    padding: 1em;

    .logo{
        width: 100%;
        background-image: url(../img/logo.png);
        background-size: auto 100%;
        height: 50%;
        background-repeat: no-repeat;
        background-position: center;
		background-size: contain;
        display: block;
    }

	.toggle-collapse{
		position: absolute;
		top: 1em;
		right: 1em;	
		background: transparent;	

		&:hover, &:focus, &:active{
			outline: none;
			border: 1px solid transparent;
			color: #fff;
		}
	}

	.collapsable-content{
		.nav-pills>li{
			& > a{
				padding: 3px 0;
			}

			&.active>a {
				color: #a0a0a0;
				background-color: transparent;
			}		

			& >a:focus, 
			& >a:hover {
				color: #fff;
				background-color: transparent;
			}		

			&.router-link-exact-active.active>a,
			&.router-link-exact-active.active>a:focus, 
			&.router-link-exact-active.active>a:hover {
				color: #fff;
				background-color: transparent;

				&:before {
					content: '';
					background-color: #1db954;
					height: 18px;
					width: 4px;
					position: absolute;
					margin: 1px -15px;
				}
			}
		}	

		.user-info{
			bottom: 0;
			position: absolute;
			margin-bottom: 1.1em;

			#user-avatar{
				height: 28px;
				width: 28px;
				border-radius: 100%;
			}
		}
    }
}

.row.content{
	height: 100vh;
}

#content{
	margin-top: 30px;
	overflow-x: auto;	

	.tracklist{		

		tr:hover {
			background-color: #282828;
		}

		.toggle-favorites{
			position: relative;
			margin-top: 3px;
		}

		/*#tracks-container{
			color: white;
			padding: 0;
			
			.track-item{
				position: relative;
				transition: background-color .2s linear;
				display: flex;
				margin-bottom: 0.9em;
				padding: 0.5em;
				
				
				.track-index{
					text-align: right;
					padding-right: 1em;
					width: 3em;
					color: #a0a0a0;
				} 
				
				.track-infos{
					text-align: left;
					flex: 1;
					
					.track-name{
						//color: white;
					}
				}
				
				.favorite{
					text-align: right;
					padding-right: 1em;
					display: flex;
								
					.toggle-favorites{
						background-color: transparent;
						border: 0 solid transparent;
						position: relative;
					}
				}
				
				
				&:last-child{
					margin-bottom: 0;
				}
				&:hover, &:focus, &.active{ 
					background-color: rgba(0,0,0,.3);
				
					.favorite .toggle-favorites{
						//opacity:1;
					}
				}
			}
		}*/
	}
}

@media (max-width: 768px) { 
	hr{
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.sidebar{
		height: auto;
		.logo{
			height: 15vh;
		}

		&.collapsed {
			height: 22vh;
			position: relative;
		}		

		&.collapsed .collapsable-content{
			display: none;
		}		

		.collapsable-content .user-info {
    		position: relative;
    		margin-top: 1.1em;		
    		margin-bottom: 0;		
		}
	}
}